Sketch/TGSK_Sketch/TGSK_Sketch/TGSK_SketchScreens/SampleData/PeopleData/PeopleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.PeopleData" targetNamespace="Expression.Blend.SampleData.PeopleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PeopleData" type="tns:PeopleData" />
  <xs:complexType name="PeopleData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Name" name="People" type="xs:string" />
    <xs:attribute name="Icon" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>