Sketch/TGSK_Sketch/TGSK_Sketch/TGSK_SketchScreens/SampleData/GamesData/GamesData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.GamesData" targetNamespace="Expression.Blend.SampleData.GamesData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GamesData" type="tns:GamesData" />
  <xs:complexType name="GamesData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Company Name" name="GameName" type="xs:string" />
    <xs:attribute blend:Format="Date" name="DateStart" type="xs:string" />
    <xs:attribute blend:Format="Date" name="DateEdit" type="xs:string" />
    <xs:attribute name="GameIcon" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>